src/main/mule/insert-empty-records.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="insert-empty-recordsFlow" doc:id="552ae222-75b8-4143-8eec-156148a315dd">
		<scheduler doc:name="Scheduler for every day 8 AM" doc:id="b4966832-99b1-4264-b1ac-b3ebe51a8f5f" >
			<scheduling-strategy >
				<cron expression="0 0 8 ? * MON-FRI" timeZone="Asia/Kolkata" />
			</scheduling-strategy>
		</scheduler>
		<foreach doc:name="For Each (for 5 days of course)" doc:id="7f883bdd-b9f5-48b3-a3cf-297db6b4e29b" collection="#[[1,2,3,4,5]]">
			<logger level="INFO" doc:name="Logger" doc:id="819c37d7-88b9-4b6e-b5bc-8a7b43a10634" message='#["inserting empty records for students with day : "++ payload]'/>
			<try doc:name="Try" doc:id="f3c305dd-31ed-455f-bd79-c003b23b4522" >
				<flow-ref doc:name="fetch students of specific day" doc:id="f83b8b56-92a5-4314-b95f-082aa553b74f" name="fetch-students-by-day-of-course" target="students" />
				<validation:is-not-empty-collection doc:name="Is not empty collection" doc:id="9171b24c-9633-4d1d-9672-b5502372d939" config-ref="Validation_Config" values="#[vars.students]" message='#["No students found for day : " ++ payload]' />
				<ee:transform doc:name="create empty records for students" doc:id="61d6b169-47d0-4f52-a624-2039c4ed9520">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.students map (student)->
	{  "id":student.id,
	section:student.current_section,
	day_of_course: 6 - student.days_left,
  "subject_1": 0,
  "subject_2": 0,
  "subject_3": 0,
  "days_total_marks":0,
  "weighted_score":0,
  "created_date":now() as String {format: "yyyy-MM-dd HH:mm:ss"}
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
				<flow-ref doc:name="insert-empty-records-into-database" doc:id="344a5a05-3618-4d42-9a3d-7959e4403500" name="insert-empty-records" />
				<error-handler >
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="181be5f6-dbc0-4049-98f1-638994185e88" type="VALIDATION:EMPTY_COLLECTION">
						<logger level="INFO" doc:name="Logger" doc:id="fb69b927-96ae-4ff3-b136-83ac15d0d40f" message="#[error.errorMessage]"/>
					</on-error-continue>
				</error-handler>
			</try>
			<logger level="INFO" doc:name="Logger" doc:id="a94eaeb5-62f4-473a-9937-bacb9d27fff6" message='#["Inserting empty records completed for day : " ++ vars.counter default -1]'/>
		</foreach>
		<logger level="INFO" doc:name="final status" doc:id="b572cd2c-4c02-4d4f-8b88-48a70baf52a0" message='#["Inserting empty records process completed."]' />
		<error-handler>
			
<on-error-continue enableNotifications="true" logException="true" doc:name="Handle Errors" type="ANY">
    <logger level="ERROR" message='#["Error occurred: " ++ (error.description default "Unknown Error")]' doc:name="Log Error" />
  </on-error-continue>
</error-handler>
	</flow>
	<sub-flow name="insert-empty-records" doc:id="e7b0669b-659d-4def-8917-9f578eccafb0">
		<try doc:name="Try" doc:id="08a881a7-c093-454c-a505-ab975578c526" >
			<http:request method="POST" doc:name="insert empty record" doc:id="7c1104f4-2f3a-44bb-adf1-e7d683527abb" config-ref="HTTP_Request_configuration_for_database" path="/students/empty-record" sendCorrelationId="ALWAYS" correlationId="#[correlationId]">
				</http:request>
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="ce0d3064-cbc0-464e-ac90-4f6530ad7779" type="ANY">
					<logger level="INFO" doc:name="Logger" doc:id="e43deb16-9011-429a-afd5-ec87c3212d81" message='#["Error while inserting records."]'/>
				</on-error-continue>
			</error-handler>
		</try>
		<logger level="INFO" doc:name="status of empty records." doc:id="12100e39-caa5-49d6-b733-7f5a4626a384" message="#[payload]" />
	</sub-flow>
	<sub-flow name="fetch-students-by-day-of-course" doc:id="576dcf67-5f94-496c-9f95-72ab44138566" >
		<try doc:name="Try" doc:id="90d29eb1-21e3-4557-b8fd-493c04440ba7" >
			<http:request method="GET" doc:name="get studnets of specefic day of course" doc:id="5b567c94-d897-4063-bfb9-2f91fe155ce0" config-ref="HTTP_Request_configuration_for_database" path="/students">
				<http:query-params><![CDATA[#[{
	days_left : payload,
	report_file_path:"-"
}]]]></http:query-params>
			</http:request>
			<logger level="INFO" doc:name="fetched records" doc:id="ce041e25-319a-4a9f-a4cf-b41b599dd13d" message='#[sizeOf(payload) ++ " students fetched from database."]' />
			<error-handler >
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="141dd00e-d13f-4060-9229-c73d5735c63e" type="HTTP:NOT_FOUND">
					<logger level="INFO" doc:name="Logger" doc:id="bf08375b-ef6a-42c5-89dc-d519064f504a" message='#["No students found for day : " ++ payload]'/>
					<ee:transform doc:name="Transform Message" doc:id="88644ca6-fa03-4fae-a1fc-f3ae209ef924" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</on-error-continue>
			</error-handler>
		</try>
	</sub-flow>
</mule>
